*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding-top: 10px;
}

header .links {
    display: flex;
    justify-content: space-between;
}

header .links ul{
    display: flex;
}

.tela-principal {
    display: flex;
    flex-direction: column;
    background-image: url(./img/erik-hansman-PL5VrlAISt4-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.tela-principal p {
    text-align: center;
}

.separator {
    border-bottom: 1.6px solid #000000; /* Espessura da linha */
    width: 85%; /* Largura da linha (50% da largura da tela) */
    margin: 20px auto; /* Espaçamento acima e abaixo da linha, e centraliza a linha */
}



.quem-somosClass {
    display: flex;
    background-color: #f9f9f9;
    padding: 25px;
    transition: transform 0.5s ease-in-out; /* Adicionando a transição para a propriedade transform */
}

.quem-somosClass:hover {
    transform: translateX(20px); /* Altere o valor conforme necessário para o deslocamento desejado */
}


.quem-somosClass .texto {
    flex: 1;
}

.quem-somosClass .texto h1 {
    color: #9f7e69;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-size: 45px;
}

.quem-somosClass .imagem img {
    height: 500px;
    width: auto;
    margin-left: 25px;
}

.quem-somosClass .texto p {
    font-size: 1.125rem; 
    line-height: 150%;
}




