body{
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding-top: 10px;
}

header .links {
    display: flex;
    justify-content: space-between;
}

header .links ul{
    display: flex;
}

  