*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60px; /* Altere a altura conforme desejado */
    width: 100%;
    position: absolute;
}
header img {
    width: 80px; /* Altere a largura conforme desejado */
    height: 60px; /* Mantenha a altura proporcional à largura */
    align-self: flex-start; /* Alinha a imagem verticalmente no centro */
}

header a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
header img{
    padding-right: 60px;
}

ul {

    text-align: center;
    margin: 32px;
    text-decoration: none;
}

li{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 18px;

}

.underline-link {
    position: relative;
    color: #ffffff;
    transition: color 0.3s;
    text-decoration: none;
    font-weight: normal;

}

.underline-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ccd5ae;
    bottom: -2px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.underline-link:hover {
    color: #f0ecec;
}

.underline-link:hover::after {
    width: 100%;
    left: 0;
}


#carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    list-style: none;
    padding: 10px; /* Adiciona um pouco de espaçamento ao redor do conteúdo */
    margin-right: 0; /* Remove a margem à direita */
}

#carrinho a {
    text-decoration: none;
    font-weight: initial;
    color: white;
    margin-left: 10px; /* Adiciona um espaçamento à esquerda entre a imagem e o texto */
}

#carrinho img {
    height: 35px;
    width: 35px;
    display: inline-block; /* Certifica-se de que a imagem é exibida como um bloco inline */
}





#logo {
    align-self: center;
    justify-self: center;
}

.tela-principal {
    display: flex;
    flex-direction: column;
    background-image: url(./img/erik-hansman-PL5VrlAISt4-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.tela-principal p {
    text-align: center;
}

.separator {
    border-bottom: 1.6px solid #000000; /* Espessura da linha */
    width: 85%; /* Largura da linha (50% da largura da tela) */
    margin: 20px auto; /* Espaçamento acima e abaixo da linha, e centraliza a linha */
}



.quem-somosClass {
    display: flex;
    background-color: #f9f9f9;
    padding: 25px;
    transition: transform 0.5s ease-in-out; /* Adicionando a transição para a propriedade transform */
}

.quem-somosClass:hover {
    transform: translateX(20px); /* Altere o valor conforme necessário para o deslocamento desejado */
}


.quem-somosClass .texto {
    flex: 1;
}

.quem-somosClass .texto h1 {
    color: #9f7e69;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-size: 45px;
}

.quem-somosClass .imagem img {
    height: 500px;
    width: auto;
    margin-left: 25px;
}



.quem-somosClass .texto p {
    font-size: 1.125rem; 
    line-height: 150%;
}


/*------------------------*/

footer h5 {
    font-weight: normal;
}

footer {
    background-color: #f9f9f9;
    padding: 30px 0;
    text-align: center;
}

footer h4 p {
    padding: 5px 0;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 20px 0;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

svg {
    width: 40px;
    height: 40px;
    fill: #4f4e4e; 
    transition: ease-in-out 0.3s;
}

svg:hover {
    fill: #000000; 
}



/*----------------*/
/*-------------------*/

.sobreNossaEmpresa {
    display: flex;
    background-color: #f9f9f9;
    padding: 25px;
    transition: transform 0.5s ease-in-out;
}


.sobreNossaEmpresa .texto {
    flex: 1;
    text-align: left; /* Alterado para alinhar o texto à esquerda */
}

.sobreNossaEmpresa .texto h1 {
    color: #9f7e69;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-size: 45px;
}

.sobreNossaEmpresa .imagem img {
    height: 500px;
    width: auto;
    max-width: 100%;
    float: left; /* Posicionar imagem à esquerda */
    margin-right: 25px; /* Adicionar margem à direita da imagem */
}



.sobreNossaEmpresa .texto p {
    font-size: 1.125rem;
    line-height: 150%;
    text-align: justify; /* Alinhar texto justificado */
}


.sobreNossaEmpresa2 {
    display: flex;
    background-color: #f9f9f9;
    padding: 25px;
    transition: transform 0.5s ease-in-out; /* Adicionando a transição para a propriedade transform */
}

.sobreNossaEmpresa2:hover {
    transform: translateX(20px); /* Altere o valor conforme necessário para o deslocamento desejado */
}

.sobreNossaEmpresa2 .texto {
    flex: 1;
}

.sobreNossaEmpresa2 .texto h1 {
    color: #9f7e69;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    font-size: 45px;
}

.sobreNossaEmpresa2 .imagem2 img {
    max-height: 450px; /* Ajuste a altura máxima da imagem conforme necessário */
    width: auto; /* Ajusta automaticamente a largura mantendo a proporção */
    max-width: 100%;
    float: left;
    margin-right: 25px;
}

.sobreNossaEmpresa2 .texto {
    flex: 1; /* Aumente o valor para aumentar a largura do texto */
}


.sobreNossaEmpresa2 .texto p {
    font-size: 1.125rem; 
    line-height: 150%;
}
