* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding-top: 10px;
}

header .links {
    display: flex;
    justify-content: space-between;
}

header .links ul{
    display: flex;
}



.atendimento p {
    padding-top: 8px;
}

h5 {
    font-weight: normal;
}

footer {
    background-color: rgb(226, 244, 255);
    padding-top: 20px;
}

h4 p{
    text-align: center;
}

hr {
    height: 0.5px; background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
}

#tempo {
    padding-top: 15px;
}

svg {
    width: 80px;
    height: 80px;
}